name: Build (ESP-IDF)

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build with ESP-IDF (v5.1.2)
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.1.2
          target: esp32s3
          path: .

      - name: Upload firmware artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-bins
          path: |
            build/*.bin
            build/bootloader/*.bin
            build/partition_table/*.bin
            build/flasher_args.json
          if-no-files-found: warn
